.hidden {
  display: none !important;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

form {
  font-family: "open sans", sans-serif;
  font-size: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

img {
  width: 100%;
}

textarea {
  width: 100%;
}

#url,
#title {
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: rgb(86, 43, 129);
  outline: none;
  border-width: 2px;
}
