.button {
  justify-content: right;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header {
  font-family: "proza libre", sans-serif;
  background-color: rgb(86, 43, 129);
  color: white;
}

button {
  background-color: rgb(86, 43, 129);
  color: white;
  border: none;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

#title {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

#url {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

textarea {
  margin-top: 0.5rem;
}

.picture {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .right {
    margin-top: 4rem;
  }
}

a {
  color: white;
  text-decoration: none;
}

.title-wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new {
  font-size: 17px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-radius: 4px;
  background-color: rgb(86, 43, 129);
}

.tab-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

li {
  list-style-type: none;
  font-family: "proza libre", sans-serif;
  margin-bottom: 1rem;
}

h2 {
  font-family: "proza libre", sans-serif;
}

.column-half > h3 {
  font-size: 20px;
  margin-top: 0;
}

.column-half > p {
  font-size: 14px;
  word-spacing: 1px;
}

#new-entry-button {
  font-family: "open sans", sans-serif;
}

.no-entry {
  font-size: 14px;
  word-spacing: 1px;
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 0;
}

.pic-images {
  margin-bottom: 1rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

i {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  color: rgb(86, 43, 129);
}

.space-right {
  display: flex;
  justify-content: right;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#delete {
  border: none;
  background-color: rgb(240, 240, 240);
  color: red;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}
